*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.sign-up-form{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  border-radius: 3px;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 6px 4px #aeaeae;
}


.sign-up-form label{
  font-size: 1.3rem;
}

.sign-up-form input{
  padding: 0.5rem;
  outline: none;
  font-size: 1.1rem;
}

.sign-up-form button{
  color: white;
  background-color: rgba(0, 0, 255, 0.764);
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}